@model ShoppingCart_Application_MVC.Models.Admin.AdminCombineViewModel

@{
    Layout = "~/Views/Shared/Admin/_AdminHomePartialView.cshtml";
}



<style>
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 2em;
        height: 0.85em;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #adb5bd;
        transition: .3s;
        border-radius: 30px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 0.8em;
            width: 0.8em;
            border-radius: 20px;
            left: 0.2em;
            bottom: 0.2em;
            background-color: #adb5bd;
            transition: .3s;
        }

    input:checked + .slider {
        background-color: #696cff;
        border: 1px solid #696cff;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #696cff;
    }

    input:checked + .slider:before {
        transform: translateX(0.8em);
        background-color: #fff;
    }
    .export-btn {
        background-color: transparent !important;
    }
    .export-btn:hover {
        background-color: #adb5bd !important;
        color: #fff !important;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Product List Table -->
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Filter</h5>
            <div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0 g-md-6">
                <div class="col-md-4 product_category">
                    <select class="form-select">
                        <option value="" selected>Category</option>
                    </select>
                </div>
                <div class="col-md-4 product_subcategory">
                    <select class="form-select">
                        <option value="" selected>Sub-Category</option>
                    </select>
                </div>
                <div class="col-md-4 product_stock">
                    <select class="form-select">
                        <option value="" selected>Stock</option>
                        <option value="">Out Of Stock</option>
                        <option value="">In Stock</option>
                    </select>
                </div>
            </div>
        </div>

        <hr />

        <div class="card-datatable table-responsive">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center row ">
                    <div class="d-flex flex-column flex-md-row justify-content-between gap-2 gap-sm-4 ">
                        <div class="col-12 col-sm-3">
                            <input type="search" class="form-control" name="name" value="" placeholder="Search Product" />
                        </div>
                        <div class="d-flex flex-column flex-sm-row justify-content-start justify-content-md-end align-items-start align-items-sm-center gap-2 gap-sm-4 ">
                            <div>
                                <select class="form-select">
                                    <option value="" selected>7</option>
                                    <option value="">10</option>
                                    <option value="">20</option>
                                    <option value="">50</option>
                                    <option value="">70</option>
                                    <option value="">100</option>
                                </select>
                            </div>
                            <div class="dropdown">
                                <button class="export-btn border btn text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-download me-2"></i> Export
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-print me-2"></i>Print</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-lines me-2"></i>Csv</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-file-export me-2"></i>Excel</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-file-pdf me-2"></i>Pdf</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-regular fa-copy me-2"></i>Copy</a></li>
                                </ul>
                            </div>
                            <button onclick="window.location.href='@Url.Action("Product_Add", "Admin")'" type="button" class="btn btn-primary">
                                <i class="fa-solid fa-plus fs-6 me-2"></i>Add Product
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="datatables-products table">
                <thead class="border-top">
                    <tr>
                        <th>
                            <input type="checkbox" class="form-check-input" value="" />
                        </th>
                        <th>PID</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>QTY</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var product in Model.Products)
                        {
                            var categoryName = Model.Categories.FirstOrDefault(c => c.CategoryID == product.CategoryID)?.CategoryName;
                            var subCategoryName = Model.SubCategories.FirstOrDefault(sc => sc.SubCategoryID == product.SubCategoryID)?.SubCategoryName;

                            <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" value="" />
                                </td>
                                <td>@product.ProductID</td>
                                <td class="d-flex m-0 py-3">
                                    <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="@product.ProductImage" style="height:3.5rem;width:3.5rem; border:1px solid red" alt="" class="me-3" />
                                    <div class="p-0 m-0" style="width: 20rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                                        <h6 class="mb-1" style="font-size:1em">@product.ProductName</h6>
                                        <span style="font-size:0.9em;">@product.Description</span>
                                    </div>
                                </td>
                                <td>@categoryName</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                </td>
                                <td>@product.ProductPrice</td>
                                <td>@product.RemainingQuantity</td>
                                <td>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-4" id="exampleModalLabel">Product Details</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal m-0">Product ID: </h6>
                                                        </div>
                                                        <p class="m-0">@product.ProductID</p>
                                                    </div>
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal">Product: </h6>
                                                        </div>
                                                        <p class="m-0">
                                                            <img class="me-3" data-bs-toggle="modal" data-bs-target="#exampleModal" src="#" style="height:3.5rem;width:3.5rem; border:1px solid red" alt="" />
                                                            <div class="">
                                                                <h6 class="mb-1" style="font-size:1em">@product.ProductName</h6>
                                                                <span style="font-size:0.9em;">@product.Description</span>
                                                            </div>
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal m-0">Category: </h6>
                                                        </div>
                                                        <p class="m-0">@categoryName</p>
                                                    </div>
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal m-0">Stock: </h6>
                                                        </div>
                                                        <p class="m-0">
                                                            <label class="switch">
                                                                <input type="checkbox">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal m-0">Price: </h6>
                                                        </div>
                                                        <p class="m-0">@product.ProductPrice</p>
                                                    </div>
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal m-0">Qty: </h6>
                                                        </div>
                                                        <p class="m-0">@product.RemainingQuantity</p>
                                                    </div>
                                                    <div class="d-flex align-items-center border-bottom py-4">
                                                        <div class="col-3">
                                                            <h6 class="fw-normal m-0">Actions: </h6>
                                                        </div>
                                                        <div class="d-flex gap-1">
                                                            <button type="button" class="bg-transparent border-0">
                                                                <img src="~/Assets/Images/pencil-square.svg" alt="edit" />
                                                            </button>
                                                            <button type="button" class="bg-transparent border-0">
                                                                <img src="~/Assets/Images/three-dots-vertical.svg" alt="view" />
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Modal End-->
                                    <div class="d-flex gap-1">
                                        <button type="button" class="bg-transparent border-0">
                                            <img src="~/Assets/Images/pencil-square.svg" alt="edit" />
                                        </button>
                                        <button type="button" class="bg-transparent border-0">
                                            <img src="~/Assets/Images/three-dots-vertical.svg" alt="view" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">No matching records found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



