@model ShoppingCart_Application_MVC.Models.ExtendedProdDetails

<style>
    .btn {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: 15px !important;
        font-weight: 500;
    }

    .btn-light {
        color: #0000009b;
    }

    .icon-hover-primary:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

        .icon-hover-primary:hover i {
            /*color: #3b71ca !important;*/
        }

    .icon-hover-danger {
        font-family: 'Segoe UI',sans-serif !important;
        font-size: 1em;
    }

        .icon-hover-danger:hover {
            border-color: #dc4c64 !important;
            background-color: white !important;
        }

            .icon-hover-danger:hover i {
                color: #dc4c64 !important;
            }

    /* input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }*/

</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function formatPrice(price) {
        return '₹' + price.toLocaleString('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    $(document).ready(function () {

        var finalPrice = 0;
        var discountAmount = 0;
        var discountPercentage = 0;
        var deliveryAmount = 0;


        $('.quantity-input').on('change', function () {
            var $this = $(this);
            var quantity = $this.val();
            var productId = $this.data('product-id');

            var productPriceText = $this.closest('.row').find('.productPrice-input').text();
            var productPrice = parseFloat(productPriceText.replace('₹', '').replace(',', '').trim());

            var totalPrice = productPrice * quantity;

            var $totalPriceContainer = $this.closest('.row').find('.totalPrice-input');
            $totalPriceContainer.text(formatPrice(totalPrice));

            FinalPrice();

            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: { ID: productId, Quantity: quantity },
                success: function (response) {
                    console.log('Price updated successfully:', response);
                },
                error: function () {
                    alert('Failed to update price for product ID: ' + productId);
                }
            });
        });

        function FinalPrice() {

            finalPrice = 0;

            $('.totalPrice-input').each(function () {
                var totalPriceText = $(this).text();
                var totalPrice = parseFloat(totalPriceText.replace('₹', '').replace(',', '').trim());
                finalPrice += totalPrice;
            });

            // Update the final price in the UI
            $('#finalPrice').text(formatPrice(finalPrice));

            Discount();
            deliveryCharges();
            grandTotal();
        }

        function Discount() {

            discountPercentage = 10;
            /*
                        finalAmountWithDiscount = 0;*/

            discountAmount = finalPrice * (discountPercentage / 100);

            $('#discountAmount').text(formatPrice(discountAmount));

        }

        function deliveryCharges() {

            deliveryAmount = 0;

            if (finalPrice <= 5000) {

                deliveryAmount = 120;

                $('#deliveryAmount').text(formatPrice(deliveryAmount));
                $('#deliveryCharges').text(formatPrice(deliveryAmount));
            }

        }

        function grandTotal() {

            var grandTotalAmount = 0;

            grandTotalAmount = (finalPrice - discountAmount) - deliveryAmount;

            $('#grandTotal').text(formatPrice(grandTotalAmount));

        }

        FinalPrice();

    });


    function RemoveProduct(UserID, ProductID) {

        $.ajax({
            url: '/Cart/RemoveProduct',
            type: 'POST',
            data: { PID: ProductID, UID: UserID },
            success: function (response) {
                console.log('Product removed successfully:', response);
            },
            error: function () {
                /*alert('Failed to remove product from cart !');*/
            }
        });
    }

    function RemoveProductUnauthenticated(ProductID) {

        $.ajax({
            url: '/Cart/RemoveProductUnauthenticated',
            type: 'POST',
            data: { PID: ProductID },
            success: function (response) {
                console.log('Product removed successfully:', response);
            },
            error: function () {
                /*alert('Failed to remove product from cart !');*/
            }
        });
    }

</script>

@if (Model.AuthenticatedProducts != null && Model.AuthenticatedProducts.Count > 0)
{
    <div class="container-fluid">
        <section class="my-2">
            <div class="container ct-1">
                <div class="row">
                    <div class="col-lg-9 ct-2 my-2">
                        <div class="card border shadow-0">
                            <div class="m-4">
                                <h4 class="card-title mb-4">Your shopping cart</h4>
                                <hr />
                                @foreach (var item in Model.AuthenticatedProducts)
                                {
                                    <div class="row gy-3 mt-4 mb-4">
                                        <div class="col-md-6">
                                            <div class="me-lg-5">
                                                <div class="d-flex">
                                                    <a href="@Url.Action("Product", "ProductDetails", new { id = item.ProductID })" alt="@item.ProductName">
                                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                    </a>
                                                    <div class="">
                                                        <a href="@Url.Action("Product", "ProductDetails", new { id = @item.ProductID })" class="nav-link fw-semibold">@item.ProductName</a>
                                                        <p class="text-muted" style=" min-width:0;  overflow:hidden; text-overflow:ellipsis">@item.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex flex-column flex-xl-row text-nowrap gap-3">
                                            <div class="col-6">
                                                <div class="price-container">
                                                    <text class="totalPrice-input h6">₹@item.TotalPrice</text> <br />
                                                    <small class="productPrice-input text-muted text-nowrap">₹@item.ProductPrice / per item </small>
                                                </div>
                                            </div>
                                            <div class="mt-1 col-6">
                                                <button class="border-1"
                                                        onclick="this.parentNode.querySelector('input.quantity-input').stepDown()">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <input class="quantity-input border-1 p-0" data-product-id="@item.ProductID" min="1" max="8" name="quantity" value="@item.Quantity" type="number"
                                                       style="width:fit-content; text-align:center; font-size:1em" />
                                                <button class="border-1 p-0"
                                                        onclick="this.parentNode.querySelector('input.quantity-input').stepUp()">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2 mt-2">
                                            <div class="float-md-end">
                                                <a href="#" onclick="RemoveProduct(@item.UserID, @item.ProductID)" class="btn btn-light border text-danger icon-hover-danger">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="border-top pt-4 mx-4 mb-4">
                                <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within 1-2 weeks</p>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ct-2 my-2">
                        <div class="card mb-3 border shadow-0">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label class="form-label">Have coupon?</label>
                                        <div class="input-group d-flex justify-content-center align-items-center text-center">
                                            <input type="text" class="form-control border" name="" placeholder="Coupon code" style="height:2.2rem" />
                                            <button class="btn btn-light border" style="height:2.2rem">Apply</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-0 border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Price:</p>
                                    <p class="mb-2" id="finalPrice">₹0.00</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Discount:</p>
                                    <p class="mb-2 text-success" id="discountAmount">-₹0.00</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Delivery Charges:</p>
                                    <p class="mb-2 text-success" id="deliveryCharges"><s class="text-secondary" id="deliveryAmount">₹120</s> Free</p>
                                </div>
                                <hr />
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2 fw-semibold">Total Amount:</p>
                                    <p class="mb-2 fw-semibold" id="grandTotal">₹0.00</p>
                                </div>
                                <div class="mt-3">
                                    <a href="@Url.Action("OrderInfo")" class="btn btn-success w-100 shadow-0 mb-2" style="letter-spacing:1px"> Place Order </a>
                                    <a href="~/Home/Index" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

@if (Model.UnauthenticatedProducts != null && Model.UnauthenticatedProducts.Count > 0)
{
    <div class="container-fluid">
        <section class="my-2">
            <div class="container ct-1">
                <div class="row">
                    <div class="col-lg-9 ct-2 my-2">
                        <div class="card border shadow-0">
                            <div class="m-4">
                                <h4 class="card-title mb-4">Your shopping cart</h4>
                                <hr />
                                @foreach (var item in Model.UnauthenticatedProducts)
                                {
                                    <div class="row gy-3 mt-4 mb-4">
                                        <div class="col-md-6">
                                            <div class="me-lg-5">
                                                <div class="d-flex">
                                                    <a href="@Url.Action("Product", "ProductDetails", new { id = item.ProductID })" alt="@item.ProductName">
                                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                    </a>
                                                    <div class="">
                                                        <a href="@Url.Action("Product", "ProductDetails", new { id = @item.ProductID })" class="nav-link fw-semibold">@item.ProductName</a>
                                                        <p class="text-muted" style=" min-width:0;  overflow:hidden; text-overflow:ellipsis">@item.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex flex-column flex-xl-row text-nowrap gap-3">
                                            <div class="col-6">
                                                <div class="price-container">
                                                    <text class="totalPrice-input h6">₹ 0.00</text> <br />
                                                    <small class="productPrice-input text-muted text-nowrap">₹@item.ProductPrice / per item </small>
                                                </div>
                                            </div>
                                            <div class="mt-1 col-6">
                                                <button class="border-1"
                                                        onclick="this.parentNode.querySelector('input.quantity-input').stepDown()">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <input class="quantity-input border-1 p-0" data-product-id="@item.ProductID" min="1" max="8" name="quantity" value="" type="number"
                                                       style="width:fit-content; text-align:center; font-size:1em" />
                                                <button class="border-1 p-0"
                                                        onclick="this.parentNode.querySelector('input.quantity-input').stepUp()">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 px-2 mt-2">
                                            <div class="float-md-end">
                                                <a href="#" onclick="RemoveProductUnauthenticated(@item.ProductID)" class="btn btn-light border text-danger icon-hover-danger">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="border-top pt-4 mx-4 mb-4">
                                <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within 1-2 weeks</p>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ct-2 my-2">
                        <div class="card mb-3 border shadow-0">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label class="form-label">Have coupon?</label>
                                        <div class="input-group d-flex justify-content-center align-items-center text-center">
                                            <input type="text" class="form-control border" name="" placeholder="Coupon code" style="height:2.2rem" />
                                            <button class="btn btn-light border" style="height:2.2rem">Apply</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-0 border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Price:</p>
                                    <p class="mb-2" id="finalPrice">₹0.00</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Discount:</p>
                                    <p class="mb-2" id="discountAmount">₹0.00</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Delivery:</p>
                                    <p class="mb-2" id="deliveryCharges">₹0.00</p>
                                </div>
                                <hr class="my-3" />
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-2">Total:</h6>
                                    <h6 class="mb-2" id="grandTotal">₹0.00</h6>
                                </div>
                                <div class="d-grid gap-2">
                                    <a href="#" class="btn btn-primary">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

@if ((Model.AuthenticatedProducts == null || Model.AuthenticatedProducts.Count == 0) &&
    (Model.UnauthenticatedProducts == null || Model.UnauthenticatedProducts.Count == 0))
{
    <div class="w-100 mt-xl-5 mb-xl-5 text-center pt-5" style="height:75vh">
        <img src="~/Assets/Images/bag.svg" alt="Empty Cart" class="mb-4" />
        <h3 class="" style="color: #261f44; font-family: 'Schibsted Grotesk',sans-serif; font-weight: 600; letter-spacing: -.03rem ">Your shopping cart is empty</h3>
        <p class="text-center w-100" style=" font-size:1.05em">
            Return to the store to add items for your delivery slot.
        </p>
        <button class="btn btn-primary fw-semibold text-monospace" onclick="location.href='/Home/Index'" style="letter-spacing:1px">Explore Products</button>
    </div>
}