<style>
    .btn-outline-primary {
        color: dodgerblue !important;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: 15px !important;
        font-weight: 500;
    }

        .btn-outline-primary:hover {
            color: white !important;
        }
</style>


<script>
    function addToCart(productId) {
        $.ajax({
            type: 'POST',
            url: '/Cart/AddToCart',
            data: { ID: productId },

            success: function (response) {

                Toastify({
                    text: "Product added to cart",
                    duration: 3000,
                    newWindow: true,
                    close: true,
                    gravity: "bottom",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: "#01B409",
                    }
                }).showToast();
            },
            error: function () {
                Toastify({
                    text: "Error occurred while adding product to cart.",
                    duration: 3000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: "#E23F33",
                    }
                }).showToast();
            }
        });
    }
</script>

<div class="container-fluid" >
    <section class="mt-4">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="card border shadow-0" style="max-width:18rem">
                            <a href="@Url.Action("Product", "ProductDetails", new { id = item.ProductID })" class="px-3 pt-3 pb-2">
                                <img loading="lazy" class="card-img-top rounded-2" style="width: 100%; height: 150px;" src="" />
                            </a>
                            <div class="card-body d-flex flex-column px-4 py-0 mb-3" style="">
                                <a href="@Url.Action("Product", "ProductDetails", new { id = item.ProductID })" class="nav-link fw-semibold m-0">@item.ProductName</a>
                                <p class="text-muted mb-3" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis">@item.Description</p>
                                <div class="price-wrap">
                                    <strong class="">₹@item.ProductPrice</strong>
                                    @*   <del class="">$24.99</del>*@
                                </div>
                                @*<div class="d-flex align-items-end mt-2">
                                    <a href="~/Cart/AddToCart" onclick="addToCart(@item.ProductID)" class="btn btn-outline-primary w-100">Add to cart</a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>