<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myntra</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
          rel="stylesheet" />

    <!--BIXICON CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>

    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/HomeStyle.css" />

    <script type="text/javascript" src="~/Assets/js/Countries.js"></script>
    <script type="text/javascript" src="~/Assets/js/States.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }


    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
        display: none;
    }

    /*---------------------
               Header
             -----------------------*/

    header {
        height: 5rem;
        background-color: #fff;
    }

    nav {
        height: 5rem;
        background-color: #fff;
    }


    header .nav-link {
        font-size: 0.83em;
        font-weight: 600 !important;
        margin-right: 1rem;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 1px;
        height: 5rem;
        display: flex;
        align-items: center;
    }
    header .nav-link:hover {
        color: #000 !important;
    }
    header .nav-item {
        justify-content: center;
        align-items: center;
        height: 5rem;
    }

    .nav-item .items-count {
        background-color: red;
        color: #fff;
        height: 16px;
        min-height: max-content;
        min-width: max-content;
        width: 16px;
        padding: 3px;
        font-weight: 700;
        top: 0.9rem;
        right: 6px;
        font-size: 0.85em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        align-items: baseline;
    }

        .navbar-nav .nav-item {
            position: relative;
            padding-bottom: 0px;
        }

            .navbar-nav .nav-item::after {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 0;
                height: 2.5px;
                background-color: #ff3f6c;
                transition: width 0.3s ease;
            }


            .navbar-nav .nav-item:focus::after,
            .navbar-nav .nav-item:hover::after {
                width: 90%;
            }



        .navbar-nav .nav-link::after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 0;
            height: 2.5px;
            background-color: #ff3f6c;
            transition: width 0.3s ease;
        }

        .navbar-nav .men-nav-item::after {
            background-color: #ff3f6c !important;
        }

        .navbar-nav .women-nav-item::after {
            background-color: #fb56c1 !important;
        }

        .navbar-nav .kids-nav-item::after {
            background-color: #f26a10 !important;
        }

        .navbar-nav .furniture-nav-item::after {
            background-color: #f2c210 !important;
        }

        .navbar-nav .beuty-nav-item::after {
            background-color: #0db7af !important;
        }

        .navbar-nav .electronics-nav-item::after {
            background-color: #ff3f6c !important;
        }

        .navbar-nav .wishlist-nav-item::after {
            background-color: white !important;
        }
        .navbar-nav .cart-nav-item::after {
            background-color: white !important;
        }
        

    .navbar-nav .nav-link:focus::after,
    .navbar-nav .nav-link:hover::after {
        width: 90%;
    }



    header .search-icon {
        position: absolute;
        left: 0;
        top: 12px;
        margin: 0 12px;
    }

    header .search-bar {
        display: flex;
        justify-content: center;
        border: none;
        background-color: #cccccc3a;
        color: black;
        outline: none;
        padding: 15px 2.5rem;
        font-size: 14px;
        height: 2.4rem;
        min-width: 100% !important;
        border-radius: 5px;
        font-weight: 400 !important;
    }

        header .search-bar:focus {
            -webkit-box-shadow: none;
            border: 1px solid #9595955a;
            background-color: transparent;
            outline: none;
        }


    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    .nav-container {
        max-width: 1440px;
    }

    /*   .navbar-nav .nav-item:hover {
            .nav-item-container

        {
            display: block;
            transition: all 0.3s ease-out;
        }
        }*/

    .s-nav {
        padding-top: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .s-nav p {
            font-size: 0.9em !important;
            margin-top: 0.15em;
            text-transform: capitalize;
        }

    .navbar-nav .nav-item:hover .nav-item-container .profile-container {
        display: block !important;
    }

    .navbar-nav .nav-item:hover .profile-container {
        display: block !important;
    }

    .navbar-nav .nav-item:hover ~ .body-content {
        filter: blur(2px) !important;
        width: 100% !important;
    }

    .navbar-nav .nav-item-container {
        max-width: 1080px;
        min-width: 1080px;
        min-height: 45vh !important;
        padding: 1rem 2rem 1.5rem 2rem;
        position: fixed;
        top: 5rem;
        left: 10rem;
        background-color: #fff;
        z-index: 0;
        display: none;
        /*        background-color:lightblue;*/
    }


        .navbar-nav .nav-item-container .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            /*  background-color:lightcoral;*/
            height: fit-content !important;
        }

        .navbar-nav .nav-item-container .content {
            padding: 1rem;
            height: fit-content !important;
            /*background-color:lightgreen;*/
        }

            .navbar-nav .nav-item-container .content h6 {
                font-family: 'poppins' !important;
                font-size: 0.85em !important;
            }

        .navbar-nav .nav-item-container .men-grid-container .content h6 {
            color: #ff3f6c !important;
            a

    {
        color: #ff3f6c !important;
    }

    }

    .navbar-nav .nav-item-container .women-grid-container .content h6 {
        color: #fb56c1 !important;
        a

    {
        color: #fb56c1 !important;
    }

    }

    .navbar-nav .nav-item-container .kids-grid-container .content h6 {
        color: #f26a10 !important;
        a

    {
        color: #f26a10 !important;
    }

    }

    .navbar-nav .nav-item-container .furniture-grid-container .content h6 {
        color: #f2c210 !important;
        a

    {
        color: #f2c210 !important;
    }

    }

    .navbar-nav .nav-item-container .beuty-grid-container .content h6 {
        color: #0db7af !important;
        a

    {
        color: #0db7af !important;
    }

    }

    .navbar-nav .nav-item-container .electronics-grid-container .content h6 {
        color: #ff3f6c !important;
        a

    {
        color: #ff3f6c !important;
    }

    }

    .navbar-nav .nav-item-container .content h6 a {
        font-family: 'poppins' !important;
        font-size: 0.98em !important;
        color: #ff3f6c !important;
    }

    .navbar-nav .nav-item-container .content ul {
        font-family: 'poppins' !important;
        margin: 0 !important;
        padding: 0 !important;
    }

        .navbar-nav .nav-item-container .content ul li {
            list-style: none;
            text-align: start;
        }

            .navbar-nav .nav-item-container .content ul li a {
                font-family: 'poppins' !important;
                color: #2d2d2d;
                cursor: pointer;
                transition: all 0.1s linear;
                font-size: 0.82em;
                margin-top: 5px;
            }

                .navbar-nav .nav-item-container .content ul li a:hover {
                    color: #000;
                    font-size: 14px;
                    font-weight: 600;
                }

    .navbar-nav .profile-container {
        max-width: 18rem;
        min-width: 18rem;
        height: fit-content;
        position: fixed;
        top: 5rem;
        right: 7rem;
        background-color: #fff;
        z-index: 0;
        display: none;
    }




    .carousel-inner img {
        width: 100%;
        height: 100%;
    }


    table tr {
        line-height: 1.5;
    }

    .login-btn {
        border: 1px solid #82828299;
        background-color: transparent;
        padding: 0.4em 0.8em;
        margin: 0;
        font-size: 0.85em;
        font-weight: 700;
        color: #ff3f6c;
        text-align: center;
    }

        .login-btn:hover {
            border: 1px solid #ff3f6c;
        }

    .profile-list {
        padding: 0px !important;
        margin: 0px !important;
    }

        .profile-list li {
            list-style: none;
            text-align: start;
        }


            .profile-list li a {
                color: #2d2d2d;
                cursor: pointer;
                transition: all 0.1s linear;
                font-size: 14px;
                margin-top: 5px;
            }

                .profile-list li a:hover {
                    color: #000;
                    font-size: 14px;
                    font-weight: 600;
                }


    .btn {
        margin: 5px;
        color: #fff;
        font-weight: 400;
    }

    .btnBuy {
        background-color: #FB641B;
    }

    .btnCart {
        background-color: #FF9F00;
        width: 100%;
    }

    .btn.btnCart:hover {
        background-color: #cd8000;
        color: #fff;
    }

    .btn.btnBuy:hover {
        background-color: #cf4300;
        color: #fff;
    }

    .title {
        text-align: center;
        font-weight: 700;
        padding: 15px;
        background-color: #93d6f77e;
        letter-spacing: 2px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

    <script>

        /* function validateForm() {
             var Items = document.getElementById("SearchItems").value;

             return true;
         }*/

        function SearchProducts() {

            var Items = $("#SearchItems").val();
            if (Items.trim() === "") {
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Products/SearchProducts",
                    data: { Query: Items },
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        }
    </script>

</head>
<body>

    <!-- Header Section Begin -->
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="nav-container container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/">
                        <img src="~/Assets/Images/Navbar/myntra-logo.png" height="40" alt="Alternate Text" />
                    </a>
                    <ul class="navbar-nav mx-4 mb-2 mb-lg-0">
                        <li class="nav-item men-nav-item">
                            <a class="nav-link" href="~/Home/Men">Men</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container men-grid-container">
                                    <div class="content men-content">
                                        <h6><a href="#">Topwear</a></h6>
                                        <ul>
                                            <li><a href="#">T-Shirts</a></li>
                                            <li><a href="#">Casual Shirts</a></li>
                                            <li><a href="#">Formal Shirts</a></li>
                                            <li><a href="#">Sweetshirts</a></li>
                                            <li><a href="#">Sweaters</a></li>
                                            <li><a href="#">Jackets</a></li>
                                            <li><a href="#">Blazers & Coats</a></li>
                                            <li><a href="#">Suits</a></li>
                                            <li><a href="#">Rain Jackets</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Indian & Festive Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Kurtas & Kurta Sets</a></li>
                                            <li><a href="#">Sherwanis</a></li>
                                            <li><a href="#">Nehru Jackets</a></li>
                                            <li><a href="#">Dhotis</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Bottomwear</a></h6>
                                        <ul>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Casual Trousers</a></li>
                                            <li><a href="#">Formal Trousers</a></li>
                                            <li><a href="#">Shorts</a></li>
                                            <li><a href="#">Track Pants & Joggers</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Innerwear & Sleepwear</a></h6>
                                        <ul>
                                            <li><a href="#">Briefs & Trunks</a></li>
                                            <li><a href="#">Boxers</a></li>
                                            <li><a href="#">Vests</a></li>
                                            <li><a href="#">Sleepwear & Loungewear</a></li>
                                            <li><a href="#">Thermals</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Plus Size</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Footwear</a></h6>
                                        <ul>
                                            <li><a href="#">Casual Shoes</a></li>
                                            <li><a href="#">Sports Shoes</a></li>
                                            <li><a href="#">Formal Shoes</a></li>
                                            <li><a href="#">Sneakers</a></li>
                                            <li><a href="#">Sandals & Floaters</a></li>
                                            <li><a href="#">Flip Flops</a></li>
                                            <li><a href="#">Socks</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Personal Care & Grooming</a></h6>
                                        <h6><a href="#">Sunglasses & Frames</a></h6>
                                        <h6><a href="#">Watches</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Sports & Active Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Sports Shoes</a></li>
                                            <li><a href="#">Sports Sandals</a></li>
                                            <li><a href="#">Active T-Shirts</a></li>
                                            <li><a href="#">Track Pants & Shorts</a></li>
                                            <li><a href="#">Tracksuits</a></li>
                                            <li><a href="#">Jackets & Sweatshirts</a></li>
                                            <li><a href="#">Sports Accessories</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Gadgets</a></h6>
                                        <ul>
                                            <li><a href="#">Smart Wearables</a></li>
                                            <li><a href="#">Fitness Gadgets</a></li>
                                            <li><a href="#">Headphones</a></li>
                                            <li><a href="#">Speakers</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Fashion Accessories</a></h6>
                                        <ul>
                                            <li><a href="#">Wallets</a></li>
                                            <li><a href="#">Belts</a></li>
                                            <li><a href="#">Perfumes & Body Mists</a></li>
                                            <li><a href="#">Trimmers</a></li>
                                            <li><a href="#">Deodorants</a></li>
                                            <li><a href="#">Ties, Cufflinks & Pocket Squares</a></li>
                                            <li><a href="#">Accessory Gift Sets</a></li>
                                            <li><a href="#">Caps & Hats</a></li>
                                            <li><a href="#">Mufflers, Scarves & Gloves</a></li>
                                            <li><a href="#">Phone Cases</a></li>
                                            <li><a href="#">Rings & Wristwear</a></li>
                                            <li><a href="#">Helmets</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Bags & Backpacks</a></h6>
                                        <h6><a href="#">Luggages & Trolleys</a></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item women-nav-item">
                            <a class="nav-link " href="~/Home/Women">Women</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container women-grid-container">
                                    <div class="content">
                                        <h6><a href="#">Indian & Fusion Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Kurtas & Suits</a></li>
                                            <li><a href="#">Kurtis, Tunics & Tops</a></li>
                                            <li><a href="#">Sarees</a></li>
                                            <li><a href="#">Ethnic Wear</a></li>
                                            <li><a href="#">Leggings, Salwars & Churidars</a></li>
                                            <li><a href="#">Skirts & Palazzos</a></li>
                                            <li><a href="#">Dress Materials</a></li>
                                            <li><a href="#">Lehenga Cholis</a></li>
                                            <li><a href="#">Dupattas & Shawls</a></li>
                                            <li><a href="#">Jackets</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Belts, Scarves & More</a></h6>
                                        <h6><a href="#">Watches & Wearables</a></h6>
                                    </div>
                                    <div class="content">
                                      <h6><a href="#">Western Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Tops</a></li>
                                            <li><a href="#">Tshirts</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Trousers & Capris</a></li>
                                            <li><a href="#">Shorts & Skirts</a></li>
                                            <li><a href="#">Co-ords</a></li>
                                            <li><a href="#">Playsuits</a></li>
                                            <li><a href="#">Jumpsuits</a></li>
                                            <li><a href="#">Shrugs</a></li>
                                            <li><a href="#">Sweaters & Sweatshirts</a></li>
                                            <li><a href="#">Jackets & Coats</a></li>
                                            <li><a href="#">Blazers & Waistcoats</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Plus Size</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Maternity</a></h6>
                                        <h6><a href="#">Sunglasses & Frames</a></h6>
                                        <hr />
                                        <h6><a href="#">Footwear</a></h6>
                                        <ul>
                                            <li><a href="#">Flats</a></li>
                                            <li><a href="#">Casual Shoes</a></li>
                                            <li><a href="#">Heels</a></li>
                                            <li><a href="#">Boots</a></li>
                                            <li><a href="#">Sports Shoes & Floaters</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Sports & Active Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Clothing</a></li>
                                            <li><a href="#">Footwear</a></li>
                                            <li><a href="#">Sports Accessories</a></li>
                                            <li><a href="#">Sports Equipment</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Lingerie & Sleepwear</a></h6>
                                        <ul>
                                            <li><a href="#">Bra</a></li>
                                            <li><a href="#">Briefs</a></li>
                                            <li><a href="#">Shapewear</a></li>
                                            <li><a href="#">Sleepwear & Loungewear</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                            <li><a href="#">Camisoles & Thermals</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Beauty & Personal Care</a></h6>
                                        <ul>
                                            <li><a href="#">Makeup</a></li>
                                            <li><a href="#">Skincare</a></li>
                                            <li><a href="#">Premium Beauty</a></li>
                                            <li><a href="#">Lipsticks</a></li>
                                            <li><a href="#">Fragrances</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Gadgets</a></h6>
                                        <ul>
                                            <li><a href="#">Smart Wearables</a></li>
                                            <li><a href="#">Fitness Gadgets</a></li>
                                            <li><a href="#">Headphones</a></li>
                                            <li><a href="#">Speakers</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Jewellery</a></h6>
                                        <ul>
                                            <li><a href="#">Fashion Jewellery</a></li>
                                            <li><a href="#">Fine Jewellery</a></li>
                                            <li><a href="#">Earrings</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Backpacks</a></h6>
                                        <h6><a href="#">Handbags, Bags & Wallets</a></h6>
                                        <h6><a href="#">Luggages & Trolleys</a></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item kids-nav-item">
                            <a class="nav-link " href="~/Home/Kids">Kids</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container kids-grid-container">
                                    <div class="content">
                                       <h6><a href="#">Boys Clothing</a></h6>
                                        <ul>
                                            <li><a href="#">T-Shirts</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Shorts</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Trousers</a></li>
                                            <li><a href="#">Clothing Sets</a></li>
                                            <li><a href="#">Ethnic Wear</a></li>
                                            <li><a href="#">Track Pants & Pyjamas</a></li>
                                            <li><a href="#">Jacket, Sweater & Sweatshirts</a></li>
                                            <li><a href="#">Party Wear</a></li>
                                            <li><a href="#">Innerwear & Thermals</a></li>
                                            <li><a href="#">Nightwear & Loungewear</a></li>
                                            <li><a href="#">Value Packs</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                       <h6><a href="#">Girls Clothing</a></h6>
                                        <ul>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Tops</a></li>
                                            <li><a href="#">Tshirts</a></li>
                                            <li><a href="#">Clothing Sets</a></li>
                                            <li><a href="#">Lehenga choli</a></li>
                                            <li><a href="#">Clothing Sets</a></li>
                                            <li><a href="#">Kurta Sets</a></li>
                                            <li><a href="#">Party wear</a></li>
                                            <li><a href="#">Dungarees & Jumpsuits</a></li>
                                            <li><a href="#">Skirts & shorts</a></li>
                                            <li><a href="#">Tights & Leggings</a></li>
                                            <li><a href="#">Jeans, Trousers & Capris</a></li>
                                            <li><a href="#">Jacket, Sweater & Sweatshirts</a></li>
                                            <li><a href="#">Innerwear & Thermals</a></li>
                                            <li><a href="#">Nightwear & Loungewear</a></li>
                                            <li><a href="#">Value Packs</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Footwear</a></h6>
                                        <ul>
                                            <li><a href="#">Casual Shoes</a></li>
                                            <li><a href="#">Flipflops</a></li>
                                            <li><a href="#">Sports Shoes</a></li>
                                            <li><a href="#">Flats</a></li>
                                            <li><a href="#">Sandals</a></li>
                                            <li><a href="#">Heels</a></li>
                                            <li><a href="#">School Shoes</a></li>
                                            <li><a href="#">Socks</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Toys & Games</a></h6>
                                        <ul>
                                            <li><a href="#">Learning & Development</a></li>
                                            <li><a href="#">Activity Toys</a></li>
                                            <li><a href="#">Soft Toys</a></li>
                                            <li><a href="#">Action Figure / Play set</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Infants</a></h6>
                                        <ul>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Rompers & Sleepsuits</a></li>
                                            <li><a href="#">Clothing Sets</a></li>
                                            <li><a href="#">Tshirts & Tops</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Bottom wear</a></li>
                                            <li><a href="#">Winter Wear</a></li>
                                            <li><a href="#">Innerwear & Sleepwear</a></li>
                                            <li><a href="#">Infant Care</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Home & Bath</a></h6>
                                        <h6><a href="#">Personal Care</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Kids Accessories</a></h6>
                                        <ul>
                                            <li><a href="#">Bags & Backpacks</a></li>
                                            <li><a href="#">Watches</a></li>
                                            <li><a href="#">Jewellery & Hair accessory</a></li>
                                            <li><a href="#">Sunglasses</a></li>
                                            <li><a href="#">Masks & Protective Gears</a></li>
                                            <li><a href="#">Caps & Hats</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Brands</a></h6>
                                        <ul>
                                            <li><a href="#">H&M</a></li>
                                            <li><a href="#">Max Kids</a></li>
                                            <li><a href="#">Pantaloons</a></li>
                                            <li><a href="#">United Colors Of Benetton Kids</a></li>
                                            <li><a href="#">YK</a></li>
                                            <li><a href="#">U.S. Polo Assn. Kids</a></li>
                                            <li><a href="#">Mothercare</a></li>
                                            <li><a href="#">HRX</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item furniture-nav-item">
                            <a class="nav-link " href="~/Home/Home_Leaving">Furniture</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container furniture-grid-container">
                                    <div class="content">
                                        <h6><a href="#">Bed Linen & Furnishing</a></h6>
                                        <ul>
                                            <li><a href="#">Bed Runners</a></li>
                                            <li><a href="#">Mattress Protectors</a></li>
                                            <li><a href="#">Bedsheets</a></li>
                                            <li><a href="#">Bedding Sets</a></li>
                                            <li><a href="#">Blankets, Quilts & Dohars</a></li>
                                            <li><a href="#">Pillows & Pillow Covers</a></li>
                                            <li><a href="#">Bed Covers</a></li>
                                            <li><a href="#">Diwan Sets</a></li>
                                            <li><a href="#">Chair Pads & Covers</a></li>
                                            <li><a href="#">Sofa Covers</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Flooring</a></h6>
                                        <ul>
                                            <li><a href="#">Floor Runners</a></li>
                                            <li><a href="#">Carpets</a></li>
                                            <li><a href="#">Floor Mats & Dhurries</a></li>
                                            <li><a href="#">Door Mats</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Bath</a></h6>
                                        <ul>
                                            <li><a href="#">Bath Towels</a></li>
                                            <li><a href="#">Hand & Face Towels</a></li>
                                            <li><a href="#">Beach Towels</a></li>
                                            <li><a href="#">Towels Set</a></li>
                                            <li><a href="#">Bath Rugs</a></li>
                                            <li><a href="#">Bath Robes</a></li>
                                            <li><a href="#">Bathroom Accessories</a></li>
                                            <li><a href="#">Shower Curtains</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Lamps & Lighting</a></h6>
                                        <ul>
                                            <li><a href="#">Floor Lamps</a></li>
                                            <li><a href="#">Ceiling Lamps</a></li>
                                            <li><a href="#">Table Lamps</a></li>
                                            <li><a href="#">Wall Lamps</a></li>
                                            <li><a href="#">Outdoor Lamps</a></li>
                                            <li><a href="#">String Lights</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Home Décor</a></h6>
                                        <ul>
                                            <li><a href="#">Plants & Planters</a></li>
                                            <li><a href="#">Aromas & Candles</a></li>
                                            <li><a href="#">Clocks</a></li>
                                            <li><a href="#">Mirrors</a></li>
                                            <li><a href="#">Wall Décor</a></li>
                                            <li><a href="#">Festive Decor</a></li>
                                            <li><a href="#">Pooja Essentials</a></li>
                                            <li><a href="#">Wall Shelves</a></li>
                                            <li><a href="#">Fountains</a></li>
                                            <li><a href="#">Showpieces & Vases</a></li>
                                            <li><a href="#">Ottoman</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Cushions & Cushion Covers</a></h6>
                                        <h6><a href="#">Curtains</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Home Gift Sets</a></h6>
                                        <hr />
                                        <h6><a href="#">Kitchen & Table</a></h6>
                                        <ul>
                                            <li><a href="#">Table Runners</a></li>
                                            <li><a href="#">Dinnerware & Serveware</a></li>
                                            <li><a href="#">Cups and Mugs</a></li>
                                            <li><a href="#">Bakeware & Cookware</a></li>
                                            <li><a href="#">Kitchen Storage & Tools</a></li>
                                            <li><a href="#">Bar & Drinkware</a></li>
                                            <li><a href="#">Table Covers & Furnishings</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Storage</a></h6>
                                        <ul>
                                            <li><a href="#">Bins</a></li>
                                            <li><a href="#">Hangers</a></li>
                                            <li><a href="#">Organisers</a></li>
                                            <li><a href="#">Hooks & Holders</a></li>
                                            <li><a href="#">Laundry Bags</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                       <h6><a href="#">Brands</a></h6>
                                        <ul>
                                            <li><a href="#">H&M</a></li>
                                            <li><a href="#">Marks & Spencer</a></li>
                                            <li><a href="#">Home Centre</a></li>
                                            <li><a href="#">Spaces</a></li>
                                            <li><a href="#">D'Decor</a></li>
                                            <li><a href="#">Story@Home</a></li>
                                            <li><a href="#">Pure Home & Living</a></li>
                                            <li><a href="#">Swayam</a></li>
                                            <li><a href="#">Raymond Home</a></li>
                                            <li><a href="#">Maspar</a></li>
                                            <li><a href="#">My Trident</a></li>
                                            <li><a href="#">Cortina</a></li>
                                            <li><a href="#">Random</a></li>
                                            <li><a href="#">Ellementry</a></li>
                                            <li><a href="#">ROMEE</a></li>
                                            <li><a href="#">SEJ by Nisha Gupta</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item beuty-nav-item">
                            <a class="nav-link " href="~/Home/Beuty">Beauty</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container beuty-grid-container">
                                    <div class="content">
                                      <h6><a href="#">Makeup</a></h6>
                                        <ul>
                                            <li><a href="#">Lipstick</a></li>
                                            <li><a href="#">Lip Gloss</a></li>
                                            <li><a href="#">Lip Liner</a></li>
                                            <li><a href="#">Mascara</a></li>
                                            <li><a href="#">Eyeliner</a></li>
                                            <li><a href="#">Kajal</a></li>
                                            <li><a href="#">Eyeshadow</a></li>
                                            <li><a href="#">Foundation</a></li>
                                            <li><a href="#">Primer</a></li>
                                            <li><a href="#">Concealer</a></li>
                                            <li><a href="#">Compact</a></li>
                                            <li><a href="#">Nail Polish</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Skincare, Bath & Body</a></h6>
                                        <ul>
                                            <li><a href="#">Face Moisturiser</a></li>
                                            <li><a href="#">Cleanser</a></li>
                                            <li><a href="#">Masks & Peel</a></li>
                                            <li><a href="#">Sunscreen</a></li>
                                            <li><a href="#">Serum</a></li>
                                            <li><a href="#">Face Wash</a></li>
                                            <li><a href="#">Eye Cream</a></li>
                                            <li><a href="#">Lip Balm</a></li>
                                            <li><a href="#">Body Lotion</a></li>
                                            <li><a href="#">Body Wash</a></li>
                                            <li><a href="#">Body Scrub</a></li>
                                            <li><a href="#">Hand Cream</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Baby Care</a></h6>
                                        <h6><a href="#">Masks</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Haircare</a></h6>
                                        <ul>
                                            <li><a href="#">Shampoo</a></li>
                                            <li><a href="#">Conditioner</a></li>
                                            <li><a href="#">Hair Cream</a></li>
                                            <li><a href="#">Hair Oil</a></li>
                                            <li><a href="#">Hair Gel</a></li>
                                            <li><a href="#">Hair Color</a></li>
                                            <li><a href="#">Hair Serum</a></li>
                                            <li><a href="#">Hair Accessory</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Fragrances</a></h6>
                                        <ul>
                                            <li><a href="#">Perfume</a></li>
                                            <li><a href="#">Deodorant</a></li>
                                            <li><a href="#">Body Mist</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Appliances</a></h6>
                                        <ul>
                                            <li><a href="#">Hair Straightener</a></li>
                                            <li><a href="#">Hair Dryer</a></li>
                                            <li><a href="#">Epilator</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Men's Grooming</a></h6>
                                        <ul>
                                            <li><a href="#">Trimmers</a></li>
                                            <li><a href="#">Beard Oil</a></li>
                                            <li><a href="#">Hair Wax</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Beauty Gift & Makeup Set</a></h6>
                                        <ul>
                                            <li><a href="#">Beauty Gift</a></li>
                                            <li><a href="#">Makeup Kit</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Premium Beauty</a></h6>
                                        <h6><a href="#">Wellness & Hygiene</a></h6>
                                    </div>
                                    <div class="content">
                                       <h6><a href="#">Top Brands</a></h6>
                                        <ul>
                                            <li><a href="#">Lakme</a></li>
                                            <li><a href="#">Maybelline</a></li>
                                            <li><a href="#">LOreal</a></li>
                                            <li><a href="#">Philips</a></li>
                                            <li><a href="#">Bath & Body Works</a></li>
                                            <li><a href="#">THE BODY SHOP</a></li>
                                            <li><a href="#">Biotique</a></li>
                                            <li><a href="#">Mamaearth</a></li>
                                            <li><a href="#">MCaffeine</a></li>
                                            <li><a href="#">Nivea</a></li>
                                            <li><a href="#">Lotus Herbals</a></li>
                                            <li><a href="#">LOreal Professionnel</a></li>
                                            <li><a href="#">KAMA AYURVEDA</a></li>
                                            <li><a href="#">M.A.C</a></li>
                                            <li><a href="#">Forest Essentials</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item electronics-nav-item">
                            <a class="nav-link " href="~/Home/Electronics">Electronics</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container electronics-grid-container">
                                    <div class="content men-content">
                                        <h6><a href="#">Topwear</a></h6>
                                        <ul>
                                            <li><a href="#">T-Shirts</a></li>
                                            <li><a href="#">Casual Shirts</a></li>
                                            <li><a href="#">Formal Shirts</a></li>
                                            <li><a href="#">Sweetshirts</a></li>
                                            <li><a href="#">Sweaters</a></li>
                                            <li><a href="#">Jackets</a></li>
                                            <li><a href="#">Blazers & Coats</a></li>
                                            <li><a href="#">Suits</a></li>
                                            <li><a href="#">Rain Jackets</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Indian & Festive Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Kurtas & Kurta Sets</a></li>
                                            <li><a href="#">Sherwanis</a></li>
                                            <li><a href="#">Nehru Jackets</a></li>
                                            <li><a href="#">Dhotis</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Bottomwear</a></h6>
                                        <ul>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Casual Trousers</a></li>
                                            <li><a href="#">Formal Trousers</a></li>
                                            <li><a href="#">Shorts</a></li>
                                            <li><a href="#">Track Pants & Joggers</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Innerwear & Sleepwear</a></h6>
                                        <ul>
                                            <li><a href="#">Briefs & Trunks</a></li>
                                            <li><a href="#">Boxers</a></li>
                                            <li><a href="#">Vests</a></li>
                                            <li><a href="#">Sleepwear & Loungewear</a></li>
                                            <li><a href="#">Thermals</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Plus Size</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Footwear</a></h6>
                                        <ul>
                                            <li><a href="#">Casual Shoes</a></li>
                                            <li><a href="#">Sports Shoes</a></li>
                                            <li><a href="#">Formal Shoes</a></li>
                                            <li><a href="#">Sneakers</a></li>
                                            <li><a href="#">Sandals & Floaters</a></li>
                                            <li><a href="#">Flip Flops</a></li>
                                            <li><a href="#">Socks</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Personal Care & Grooming</a></h6>
                                        <h6><a href="#">Sunglasses & Frames</a></h6>
                                        <h6><a href="#">Watches</a></h6>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Sports & Active Wear</a></h6>
                                        <ul>
                                            <li><a href="#">Sports Shoes</a></li>
                                            <li><a href="#">Sports Sandals</a></li>
                                            <li><a href="#">Active T-Shirts</a></li>
                                            <li><a href="#">Track Pants & Shorts</a></li>
                                            <li><a href="#">Tracksuits</a></li>
                                            <li><a href="#">Jackets & Sweatshirts</a></li>
                                            <li><a href="#">Sports Accessories</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Gadgets</a></h6>
                                        <ul>
                                            <li><a href="#">Smart Wearables</a></li>
                                            <li><a href="#">Fitness Gadgets</a></li>
                                            <li><a href="#">Headphones</a></li>
                                            <li><a href="#">Speakers</a></li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">Fashion Accessories</a></h6>
                                        <ul>
                                            <li><a href="#">Wallets</a></li>
                                            <li><a href="#">Belts</a></li>
                                            <li><a href="#">Perfumes & Body Mists</a></li>
                                            <li><a href="#">Trimmers</a></li>
                                            <li><a href="#">Deodorants</a></li>
                                            <li><a href="#">Ties, Cufflinks & Pocket Squares</a></li>
                                            <li><a href="#">Accessory Gift Sets</a></li>
                                            <li><a href="#">Caps & Hats</a></li>
                                            <li><a href="#">Mufflers, Scarves & Gloves</a></li>
                                            <li><a href="#">Phone Cases</a></li>
                                            <li><a href="#">Rings & Wristwear</a></li>
                                            <li><a href="#">Helmets</a></li>
                                        </ul>
                                        <hr />
                                        <h6><a href="#">Bags & Backpacks</a></h6>
                                        <h6><a href="#">Luggages & Trolleys</a></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <form class="w-100 d-flex justify-content-center mx-4" onsubmit="return SearchProducts()" id="searchForm" action="/Products/SearchProducts" method="post">
                        <div class="w-100 d-flex justify-content-center position-relative">
                            <img src="~/Assets/Images/Navbar/search.svg" height="15" width="15" class="search-icon" alt="search" />
                            <input class="search-bar text-muted" name="Query" id="SearchItems" type="search" placeholder="Search for products, brands and more" aria-label="Search">
                        </div>
                    </form>
                    <ul class="navbar-nav ms-4 mb-2 mb-lg-0" style="max-width:fit-content;display:flex; justify-content:center; align-items:center">
                        <li class="nav-item">
                            <a class="nav-link s-nav profile-nav-link " href="~/Profile/Profile">
                                <img src="~/Assets/Images/Navbar/person.svg" height="20" width="20" alt="profile" />
                                <p class="">Profile</p>
                            </a>
                            <div class="profile-container shadow fadeIn p-3">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var firstNameCookie = Request.Cookies["FirstName"];
                                    var phoneNumberCookie = Request.Cookies["PhoneNumber"];

                                    string firstName = firstNameCookie != null ? firstNameCookie.Value : "User";
                                    string phoneNumber = phoneNumberCookie != null ? phoneNumberCookie.Value : "1234567890";

                                    <a href="/Profile/Profile">
                                        <h6 class="mb-1 text-black" style="font-size:14px; font-family:'poppins';text-transform:capitalize">Hello @firstName </h6>
                                        <p class="text-muted" style="font-size: 14px; font-family: 'poppins'">@phoneNumber</p>
                                    </a>
                                }
                                else
                                {
                                    <h6 class="mb-1" style="font-size:14px;font-family:'poppins'">Welcome</h6>
                                    <p class="text-muted" style="font-size:13px;font-family:'poppins'">To access account and manage orders</p>
                                    <button onclick="location.href='@Url.Action("LoginUser", "Account")'" class="login-btn text-uppercase mb-1">Login / Signup</button>
                                }

                                <hr class="my-2" />
                                <ul class="profile-list">
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Gift Cards</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                                <hr class="my-2" />
                                <ul class="profile-list">
                                    <li><a href="#">Myntra Credit</a></li>
                                    <li><a href="#">Coupons</a></li>
                                    <li><a href="#">Saved Cards</a></li>
                                    <li><a href="#">Saved VPA</a></li>
                                    <li><a href="#">Saved Addresses</a></li>
                                </ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <hr class="my-2" />
                                    <ul class="profile-list">
                                        <li><a href="#">Edit Profile</a></li>
                                        <li><a href="/Account/LogoutUser">Logout</a></li>
                                    </ul>
                                }
                            </div>
                        </li>
                        <li class="nav-item wishlist-nav-item">
                            <a class="nav-link s-nav" href="~/Cart/Wishlist">
                                <img src="~/Assets/Images/Navbar/heart.svg" height="16" width="16" alt="Wishlist" />
                                <p class="">Wishlist</p>

                            </a>
                        </li>
                        <li class="nav-item cart-nav-item">
                            <a class="nav-link s-nav position-relative" href="~/Cart/AddToCart">
                                @if (Session["ItemsCount"] != null && (int)Session["ItemsCount"] > 0)
                                {
                                    <span class="position-absolute items-count">
                                        @Session["ItemsCount"]
                                    </span>
                                }
                                <img src="~/Assets/Images/Navbar/bag.svg" height="16" width="16" alt="Cart" />
                                <p class="">Cart</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header Section End -->

    <div class="container-fluid body-content">
        @RenderBody()
        @Html.Partial("_Loader")
        <hr />
    </div>

    <footer class="footer-14398">
        <div class="container">
            <div class="row mb-2 mt-2">
                <div class="col-md-3">
                    <div style=" display:flex;align-items:center">
                        <img src="~/Assets/Images/Navbar/myntra-logo.png" height="60" width="auto" />
                        <a href="Index" class="footer-site-logo">Myntra</a>
                    </div>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>Shop</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Sell online</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Examples</a></li>
                        <li><a href="#">Website editors</a></li>
                        <li><a href="#">Online retail</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>Press</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Online retail</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>About</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12 pb-4">
                    <div class="line"></div>
                </div>
                <div class="col-md-6 text-md-left">
                    <ul class="list-unstyled link-menu nav-left">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Code of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-md-right">
                    <ul class="list-unstyled social nav-right">
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*  <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
        <script src="~/Assets/js/popper.min.js"></script>
        <script src="~/Assets/js/bootstrap.min.js"></script>*@

</body>
</html>
