<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myntra</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
          rel="stylesheet" />

    <!--BIXICON CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>

    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/HomeStyle.css" />

    <script type="text/javascript" src="~/Assets/js/Countries.js"></script>
    <script type="text/javascript" src="~/Assets/js/States.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }


    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
        display: none;
    }

    /*---------------------
               Header
             -----------------------*/

    header {
        height: 5rem;
        background-color: #fff;
    }

    nav {
        height: 5rem;
        background-color: #fff;
    }


    header .nav-link {
        font-size: 0.83em;
        font-weight: 600 !important;
        margin-right: 1rem;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 1px;
        height: 5rem;
        display: flex;
        align-items: center;
    }

    header .nav-item {
        justify-content: center;
        align-items: center;
        height: 5rem;
    }

    .nav-item .items-count {
        background-color: red;
        color: #fff;
        height: 16px;
        min-height:max-content;
        min-width:max-content;
        width: 16px;
        padding:3px;
        font-weight: 700;
        top: 0.9rem;
        right: 6px;
        font-size: 0.85em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        align-items: baseline;
    }

        .navbar-nav .nav-item {
            position: relative;
            padding-bottom: 0px;
        }

            .navbar-nav .nav-item::after {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 0;
                height: 2.5px;
                background-color: #ff3f6c;
                transition: width 0.3s ease;
            }


            .navbar-nav .nav-item:focus::after,
            .navbar-nav .nav-item:hover::after {
                width: 90%;
            }



        .navbar-nav .nav-link::after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 0;
            height: 2.5px;
            background-color: #ff3f6c;
            transition: width 0.3s ease;
        }

        .navbar-nav .nav-link:focus::after,
        .navbar-nav .nav-link:hover::after {
            width: 90%;
        }


    header .search-icon {
        position: absolute;
        left: 0;
        top: 12px;
        margin: 0 12px;
    }

    header .search-bar {
        display: flex;
        justify-content: center;
        border: none;
        background-color: #cccccc3a;
        color: black;
        outline: none;
        padding: 15px 2.5rem;
        font-size: 14px;
        height: 2.4rem;
        min-width: 100% !important;
        border-radius: 5px;
        font-weight: 400 !important;
    }

        header .search-bar:focus {
            -webkit-box-shadow: none;
            border: 1px solid #9595955a;
            background-color: transparent;
            outline: none;
        }


    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    .nav-container {
        max-width: 1440px;
    }

    /*   .navbar-nav .nav-item:hover {
            .nav-item-container

        {
            display: block;
            transition: all 0.3s ease-out;
        }
        }*/

    .s-nav {
        padding-top: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .s-nav p {
            font-size: 0.9em !important;
            margin-top: 0.15em;
            text-transform: capitalize;
        }

    .navbar-nav .nav-item:hover .nav-item-container .profile-container {
        display: block !important;
    }

    .navbar-nav .nav-item:hover .profile-container {
        display: block !important;
    }

    .navbar-nav .nav-item:hover ~ .body-content {
        filter: blur(2px) !important;
        width: 100% !important;
    }

    .navbar-nav .nav-item-container {
        max-width: 1080px;
        min-width: 1080px;
        min-height: 45vh;
        position: fixed;
        top: 5rem;
        left: 10rem;
        background-color: #fff;
        z-index: 0;
        display: none;
    }

    .navbar-nav .profile-container {
        max-width: 18rem;
        min-width: 18rem;
        min-height: 55vh;
        position: fixed;
        top: 5rem;
        right: 7rem;
        background-color: #fff;
        z-index: 0;
        display: none;
    }




    .carousel-inner img {
        width: 100%;
        height: 100%;
    }


    table tr {
        line-height: 1.5;
    }

    .btn {
        margin: 5px;
        color: #fff;
        font-weight: 400;
    }

    .btnBuy {
        background-color: #FB641B;
    }

    .btnCart {
        background-color: #FF9F00;
        width: 100%;
    }

    .btn.btnCart:hover {
        background-color: #cd8000;
        color: #fff;
    }

    .btn.btnBuy:hover {
        background-color: #cf4300;
        color: #fff;
    }

    .title {
        text-align: center;
        font-weight: 700;
        padding: 15px;
        background-color: #93d6f77e;
        letter-spacing: 2px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

    <script>

        /* function validateForm() {
             var Items = document.getElementById("SearchItems").value;

             return true;
         }*/

        function SearchProducts() {

            var Items = $("#SearchItems").val();
            if (Items.trim() === "") {
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Products/SearchProducts",
                    data: { Query: Items },
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        }
    </script>

</head>
<body>

    <!-- Header Section Begin -->
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="nav-container container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/">
                        <img src="~/Assets/Images/Navbar/myntra-logo.png" height="40" alt="Alternate Text" />
                    </a>
                    <ul class="navbar-nav mx-4 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Men">Men</a>
                            <div class="nav-item-container shadow fadeIn">
                                <div class="grid-container">
                                    <ul>
                                        <li>a</li>
                                        <li>b</li>
                                        <li>c</li>
                                        <li>d</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Women">Women</a>
                            <div class="nav-item-container shadow fadeIn">
                                <ul>
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Kids">Kids</a>
                            <div class="nav-item-container shadow fadeIn">
                                <ul>
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Home_Leaving">Furniture</a>
                            <div class="nav-item-container shadow fadeIn">
                                <ul>
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Beuty">Beauty</a>
                            <div class="nav-item-container shadow fadeIn">
                                <ul>
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Electronics">Electronics</a>
                            <div class="nav-item-container shadow fadeIn">
                                <ul>
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <form class="w-100 d-flex justify-content-center mx-4" onsubmit="return SearchProducts()" id="searchForm" action="/Products/SearchProducts" method="post">
                        <div class="w-100 d-flex justify-content-center position-relative">
                            <img src="~/Assets/Images/Navbar/search.svg" height="15" width="15" class="search-icon" alt="search" />
                            <input class="search-bar text-muted" name="Query" id="SearchItems" type="search" placeholder="Search for products, brands and more" aria-label="Search">
                        </div>
                    </form>
                    <ul class="navbar-nav ms-4 mb-2 mb-lg-0" style="max-width:fit-content;display:flex; justify-content:center; align-items:center">
                        <li class="nav-item">
                            <a class="nav-link s-nav " href="~/Profile/Profile">
                                <img src="~/Assets/Images/Navbar/person.svg" height="20" width="20" alt="profile" />
                                <p class="">Profile</p>
                            </a>
                            <div class="profile-container shadow fadeIn">
                                <ul>
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link s-nav" href="~/Cart/Wishlist">
                                <img src="~/Assets/Images/Navbar/heart.svg" height="16" width="16" alt="Wishlist" />
                                <p class="">Wishlist</p>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link s-nav position-relative" href="~/Cart/AddToCart">
                                <span class="position-absolute items-count">@ViewBag.Items</span>
                                <img src="~/Assets/Images/Navbar/bag.svg" height="16" width="16" alt="Cart" />
                                <p class="">Cart</p>
                            </a>
                        </li>
                        @* @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="~/Account/LogoutUser">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="~/Account/LoginUser">Login</a>
                </li>
            }*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header Section End -->

    <div class="container-fluid body-content">
        @RenderBody()
        @Html.Partial("_Loader")
        <hr />
    </div>

    <footer class="footer-14398">
        <div class="container">
            <div class="row mb-2 mt-2">
                <div class="col-md-3">
                    <div style=" display:flex;align-items:center">
                        <img src="~/Assets/Images/Navbar/myntra-logo.png" height="60" width="auto" />
                        <a href="Index" class="footer-site-logo">Myntra</a>
                    </div>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>Shop</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Sell online</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Examples</a></li>
                        <li><a href="#">Website editors</a></li>
                        <li><a href="#">Online retail</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>Press</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Online retail</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>About</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12 pb-4">
                    <div class="line"></div>
                </div>
                <div class="col-md-6 text-md-left">
                    <ul class="list-unstyled link-menu nav-left">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Code of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-md-right">
                    <ul class="list-unstyled social nav-right">
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*  <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
        <script src="~/Assets/js/popper.min.js"></script>
        <script src="~/Assets/js/bootstrap.min.js"></script>*@

</body>
</html>
