@model  List<ShoppingCart_Application_MVC.Models.usp_GetCountries_Result>

<style>
    .btn {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: 15px !important;
        font-weight: 500;
    }

    .btn-light {
        color: #0000009b;
    }

    .icon-hover-primary:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

        .icon-hover-primary:hover i {
            /*color: #3b71ca !important;*/
        }

    .icon-hover-danger {
        font-family: 'Segoe UI',sans-serif !important;
        font-size: 1em;
    }

        .icon-hover-danger:hover {
            border-color: #dc4c64 !important;
            background-color: white !important;
        }

            .icon-hover-danger:hover i {
                color: #dc4c64 !important;
            }

    .form-select::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

</style>

<script>

    function GetStates() {

        var CountryID = $('#countryId').val();

        $.ajax({
            url: '/Cart/OrderInfo',
            type: 'POST',
            data: { CID: CountryID },
            success: function (response) {
                console.log(Response);
            },
            error: function () {
                /*alert('Failed to remove product from cart !');*/
            }
        });
    }
</script>

<!-- cart + summary -->
<section class="my-5">
    <div class="container ct-1">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 mb-4 ct-2">
                <!-- Checkout -->
                <div class="card shadow-0 border">
                    <div class="p-4">
                        <h5 class="card-title mb-3">Checkout</h5>
                        <div class="row col-xl-10 col-lg-10">
                            <div class="col-sm-6 mb-3">
                                <p class="mb-0">First name</p>
                                <div class="form-outline">
                                    <input type="text" id="firstName" placeholder="Type here" class="form-control border" />
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <p class="mb-0">Last name</p>
                                <div class="form-outline">
                                    <input type="text" id="lastName" placeholder="Type here" class="form-control border" />
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <p class="mb-0">Phone</p>
                                <div class="form-outline d-flex justify-content-start gap-1">
                                    <select id="countryId" onchange="GetStates()" class="form-select form-control border" style="width:fit-content">
                                        @foreach (var item in Model)
                                        {
                                           <option value="@item.CountryID" @(item.PhoneCode == 91 ? "selected" : "")>+@item.PhoneCode</option>
                                        }
                                    </select>
                                    <input type="tel" id="phoneNumber" class="form-control border" style="width:fit-content; overflow:hidden" />
                                </div>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <p class="mb-0">Email</p>
                                <div class="form-outline">
                                    <input type="email" id="email" placeholder="example@gmail.com" class="form-control border" />
                                </div>
                            </div>
                        </div>

                        <hr class="my-4" />

                        <h5 class="card-title mb-3">Shipping info</h5>

                        <div class="row mb-3">
                            <div class="col-lg-4 mb-3">
                                <!-- Default checked radio -->
                                <div class="form-check h-100 border rounded-3">
                                    <div class="p-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Express delivery <br />
                                            <small class="text-muted">3-4 days via Fedex </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <!-- Default radio -->
                                <div class="form-check h-100 border rounded-3">
                                    <div class="p-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Post office <br />
                                            <small class="text-muted">20-30 days via post </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <!-- Default radio -->
                                <div class="form-check h-100 border rounded-3">
                                    <div class="p-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Self pick-up <br />
                                            <small class="text-muted">Come to our shop </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-8 col-lg-8 mb-3">
                                <p class="mb-0">Address</p>
                                <div class="form-outline w-100">
                                    <input type="text" placeholder="Type here" class="form-control border" style="min-width:100% !important" />
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
                                <p class="mb-0">Landmark</p>
                                <div class="form-outline">
                                    <input type="text" placeholder="Type here" class="form-control border" style="min-width:100% !important" />
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
                                <p class="mb-0">House No.</p>
                                <div class="form-outline">
                                    <input type="text" id="typeText" placeholder="Type here" class="form-control border" style="min-width:100% !important" />
                                </div>
                            </div>
                            @*<div class="col-sm-4 mb-3">
                                    <p class="mb-0">Address Line 2</p>
                                    <div class="form-outline">
                                        <input type="text"  placeholder="Type here" class="form-control border" />
                                    </div>
                                </div>*@

                            <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
                                <p class="mb-0">State</p>
                                <select class="form-select" style="min-width:100% !important">
                                    <option value="1">Maharashtra</option>
                                    <option value="2">Moscow</option>
                                    <option value="3">Samarqand</option>
                                </select>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
                                <p class="mb-0">City</p>
                                <input type="text" id="typeText" placeholder="Type here" class="form-control border" style="min-width:100% !important" />
                            </div>



                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                                <p class="mb-0">Pincode</p>
                                <div class="form-outline">
                                    <input type="text" id="typeText" class="form-control border" style="min-width:100% !important" />
                                </div>
                            </div>

                        </div>

                        <div class="form-check mb-3 mt-2  p-0 d-flex justify-content-start align-items-center gap-2">
                            <input class="" style="height:15px; width:15px" type="checkbox" value="" id="flexCheckDefault1" />
                            <label class="form-check-label" for="flexCheckDefault1">Save this address</label>
                        </div>

                        <div class="float-end">
                            <button onclick="location.href='@Url.Action("AddToCart")'" class="btn btn-light border">Cancel</button>
                            <button onclick="location.href='@Url.Action("Payment", new { id = 1})'" class="btn btn-success shadow-0 border">Continue</button>
                        </div>
                    </div>
                </div>
                <!-- Checkout -->
            </div>
            @*  <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                    <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                        <h6 class="mb-3">Summary</h6>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <p class="mb-2">$195.90</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Discount:</p>
                            <p class="mb-2 text-danger">- $60.00</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Shipping cost:</p>
                            <p class="mb-2">+ $14.00</p>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <p class="mb-2 fw-bold">$149.90</p>
                        </div>

                        <div class="input-group mt-3 mb-4 d-flex justify-content-center align-items-center">
                            <input type="text" class="form-control border" name="" placeholder="Promo code" style="height:2.2rem" />
                            <button class="btn btn-light text-primary border" style="height:2.2rem">Apply</button>
                        </div>

                        <hr />
                        <h6 class="text-dark my-4">Items in cart</h6>

                        <div class="d-flex mb-4">
                            <div class="me-3 position-relative">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                    1
                                </span>
                                <a href="@Url.Action("Product", "ProductDetails", new { id = 1 })" alt="item.ProductName">
                                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" style="height: 96px; width: 96px;" class="img-sm rounded border" />
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="nav-link fw-semibold">
                                    Gaming Headset with Mic <br />
                                    Darkblue color
                                </a>
                                <div class="price text-muted">Total: $295.99</div>
                            </div>
                        </div>

                    </div>
                </div>*@
        </div>
    </div>
</section>

